/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #222222;
  font-family: sans-serif;
  font-size: 14px;
  text-align: center;
}

h1 {
  font-size: 120%;
  margin-bottom: 1em;
}

h2 {
  font-size: 115%;
  margin-top: 10px;
}

h3 {
  font-size: 110%;
  margin-top: 10px;
}

h4 {
  font-size: 105%;
  margin-top: 5px;
}

h5 {
  font-size: 100%;
}

h6 {
  font-size: 100%;
}

p { margin: 1em 0; }

a         { color: #ac1c1c; }
a:hover   { color: #ac1c1c; }
a:visited { color: #a0a; }

blockquote {
    background-color: #e1e1e1;
    border-left-color: #ac1c1c;
    border-left-style: solid;
    font-style: italic;
    margin: 10px 0px;
    padding: 5px;
}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  background-color: #ffffff;
  font-size: 115%;
  text-align: left;
  width: 48em;
  margin: 3em auto 2em;
  padding: 20px;
  line-height: 1.5em;
}

.banner img {
  border-color: #ffbf00;
  border-style: solid;
  border-width: 20px;
  margin: -20px;
  width: 100%;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.header {
  font-size: 110%;
  padding-top: 20px;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  clear: both;
  font-size: 90%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  padding: 0px 10px;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

/*****************************************************************************/
/*
/* Pages
/*
/*****************************************************************************/

/* standard */
.page pre {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 0 .4em;
}

.page ul, .post ol {
  margin-left: 1.35em;
}

.page code {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 0 .2em;
}

.page pre code {
  border: none;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
