<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        {% if page.description %}
        <meta name="description" content="{{ page.description }}" />
        {% endif %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name=viewport content="width=device-width, initial-scale=1">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        
        {% if site.google_analytics %}
	    <!-- google analytics async -->
	    <script type="text/javascript">
	      var _gaq = _gaq || [];
	      _gaq.push(['_setAccount', '{{ site.google_analytics.account }}']);
	      _gaq.push(['_trackPageview']);
	      (function() {
	        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	      })();
	    </script>
	    {% endif %}
    </head>

    <body>
        <div class="site">
          
          <div class="banner">
            <img src="/images/banners/beetle.enters.jpg" alt="mountain pine beetles attacking lodgepole pine" />
          </div>
          
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
             <a href='/' class="extra">Home</a>
             <a href='/blog.html' class="extra">Blog</a>
             <a href='/research.html' class="extra">Research</a>
             <a href='/teaching.html' class="extra">Teaching</a>
             <a href='/publications.html' class="extra">Publications</a>
             <a href='/curriculum-vitae.html' class="extra">CV</a>
             <a href='/links.html' class="extra">Links</a>
          </div>

          <div id="body">
          	 {% if page.title %}<h2>{{ page.title }}</h2>{% endif %}
          	 {{ content }}
          </div>

          <div class="footer">
            <div class="contact">
              <p>
                <b>Alex M. Chubaty, PhD</b><br />
                Postdoctoral Researcher |  Stagiaire postdoctoral (recherche)
              </p>

              <p>
                Pacific Forestry Centre<br />
                506 Burnside Road W<br />
                Victoria, BC  V8Z 1M5<br />
              </p>
              
              <p>
              	Université Laval<br />
              	Faculté de foresterie, de géographie et de géomatique<br />
              	Département des sciences du bois et de la forêt<br />
              </p>
            </div>
            
            <div class="contact">
              <p>
                &nbsp;<br />
                &nbsp;<br />
              </p>
              
              <p>
                phone: +1.250.298.2347<br />
                email: <a href="mailto:{{ site.email }}">{{ site.email }}</a>
              </p>
              
              <p>
                <a href="http://alexchubaty.com">www.alexchubaty.com</a><br />
                {% if site.github %}
                <a href="https://github.com/{{ site.github.username }}">github.com/{{ site.github.username }}</a><br />
                {% endif %}
                {% if site.twitter %}
                <a href="https://twitter.com/{{ site.twitter.username }}">twitter.com/{{ site.twitter.username }}</a><br />
                {% endif %}
              </p>
            </div>
          </div>
        </div>
    </body>
</html>
